#Project Name for Docker Desktop
COMPOSE_PROJECT_NAME=sitefinity
PROJECT_NAME=

# ELASTICSEARCH SETTINGS
STACK_VERSION=7.17.5
LICENSE=basic
CLUSTER_NAME=sitefinity-cluster

ELASTIC_PASSWORD=CHANGEME

ELASTIC_CERTS_DIR=/usr/share/elasticsearch/config/certs
ES_PORT=9200

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=2g

