server.port: 5601
server.host: 0.0.0.0
server.name: "kibana"
server.ssl.enabled: true
server.ssl.certificate: "/usr/share/kibana/config/certs/aapmkibana/aapmkibana.crt"
server.ssl.key: "/usr/share/kibana/config/certs/aapmkibana/aapmkibana.key"
server.ssl.certificateAuthorities: ["/usr/share/kibana/config/certs/ca/ca.crt"]


# =================== System: Elasticsearch ===================
# These files are used to verify the identity of Kibana to Elasticsearch and are required when
# xpack.security.http.ssl.client_authentication in Elasticsearch is set to required.
elasticsearch.hosts: ["https://aapmes01:9200"]
elasticsearch.username: "kibana_system"
elasticsearch.password: "<COPY_KIBANA_PASSWORD_from_ENV_FILE>"
elasticsearch.ssl.certificate: "/usr/share/kibana/config/certs/aapmes01/aapmes01.crt"
elasticsearch.ssl.key: "/usr/share/kibana/config/certs/aapmes01/aapmes01.key"
elasticsearch.ssl.certificateAuthorities: [ "/usr/share/kibana/config/certs/ca/ca.crt" ]
elasticsearch.ssl.verificationMode: "certificate"
xpack.monitoring.enabled: true
xpack.security.encryptionKey: "<COPY_ENCRYPTION_KEYS_from_ENV_FILE>"
xpack.reporting.encryptionKey: "<COPY_ENCRYPTION_KEYS_from_ENV_FILE>"
xpack.encryptedSavedObjects.encryptionKey: "<COPY_ENCRYPTION_KEYS_from_ENV_FILE>"
# To disregard the validity of SSL certificates, change this setting's value to 'none'.
#elasticsearch.ssl.verificationMode: full
enterpriseSearch.host: "http://aapmenterprisesearch:3002"